# --------- WHISPER LIVE --------- #

PyAudio
faster-whisper==1.0.1
torchaudio
websockets
onnxruntime==1.16.0
ffmpeg-python
scipy
websocket-client
numba
openai-whisper
kaldialign
soundfile
numpy<2
jiwer
evaluate
sounddevice

# --------- MATCHA TTS --------- #

matcha-tts
emoji

# --------- LLM --------- #

langchain
langchain-ollama
langchain-community
ollama

#---------- Other --------- #

wavio
pynput
pygame
